html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: inherit;
}

div {
  background-color: #79756f;
  display: block;
  border: 4px solid #595652;
  text-align: center;
}

h1 {
  background-color: #79756f;
  font-family: Bevan;
  color: #fff;
  padding: .6em .5em .75em;
  display: block;
  margin: .3em;
  align-content: center;
}

ul a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}

.intro {
  background-color: #713837;
  color: #fff;
  padding: .6em;
  font-family: sans-serif;
  display: inline-block;
  border-radius: 10px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
}

.intro:hover {
  color: #fff;
  background-color: #f33;
}

.terre {
  background-color: #713837;
  color: #fff;
  padding: .6em;
  font-family: sans-serif;
  display: inline-block;
  border-radius: 10px;
  font-weight: lighter;
  text-align: center;
}

.terre:hover {
  color: #fff;
  background-color: #f33;
}

.mars {
  background-color: #713837;
  color: #fff;
  padding: .6em;
  font-family: sans-serif;
  display: inline-block;
  border-radius: 10px;
  font-weight: lighter;
  text-align: center;
}

.mars:hover {
  color: #fff;
  background-color: #f33;
}

.venus {
  background-color: #713837;
  color: #fff;
  padding: .6em;
  font-family: sans-serif;
  display: inline-block;
  border-radius: 10px;
  font-weight: lighter;
  text-align: center;
}

.venus:hover {
  color: #fff;
  background-color: #f33;
}

li {
  color: #fff;
  text-decoration: none;
}
